.login-container {
    height: 100%;
    width: 100%;

    @media (max-width: 1000px) {
        overflow: auto;
        display: flex;
        flex-wrap: wrap;

        .login-title-right {
            font-size: 35px !important;
        }

        .login-title-left {
            font-size: 35px !important;
        }
    
        .login-subtitle-right {
            font-size: 23px !important;
        }
    }

    .img-background-left {
        background-image: url(../../assets/fundo/fundoVerde2md.png);
    }

    .img-background-right {
        background-image: url(../../assets/fundo/fundoVerde.png);
    }

    .login-title-right {
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        color: #fff !important;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .login-title-left {
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        color: #fff !important;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .login-subtitle-right {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .login-signUp-btn {
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .img-onca-base {
        border: none;
        background-image: url(../../assets/logoOnca.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
}