.signUp-container {


    .signUp-header {
        background: #556b2f 0% 0% no-repeat padding-box;
        padding: 15px 12px;
        text-align: center;
    }

    .signUp-content {
        margin: 3em;     
    }
}