.gameboard-container {
  width: 100%;
  height: 100%;
  background-image: url(#fundoTabuleiro);
}

section {
  width: 100%;
  height: 100%;
}

.fundo-img {

}

h2 {
  color: rgb(0, 255, 0);
}

.imgJogo {
  float: center;
  border-bottom: 3px solid;
  margin-bottom: 6px;
  padding-bottom: 15px;
}

#gameTable {
  fill-opacity: 0;
  stroke-width: 5;
  stroke: rgb(0, 255, 0);
}

#tableline {
  stroke-width: 5;
  stroke: rgb(0, 255, 0);
}

.point {
  stroke: lime;
  stroke-width: 4;
  fill: green;
}

.target_point {
  animation: mymove 1s infinite;
}

@keyframes mymove {
  from {
    stroke: lime;
    stroke-width: 4;
  }
  to {
    stroke: yellow;
    stroke-width: 6;
  }
}

.soldier {
  stroke: lightskyblue;
  stroke-width: 4;
  fill: url(#dogSkin);
}

.soldierSelect {
  stroke: white;
  stroke-width: 4;
  fill: #add8e6;
}

.monster {
  stroke: yellow;
  stroke-width: 4;
  fill: url(#jaguarSkin);
}
.pattern-div {
  .image-peca {
  }
}
