html,
div#root,
body,
.my-app,
.my-app>div {
  height: 100%;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ccc !important;
  //background-image: url(./img/fundoVerde.png) !important;
  padding: 0 !important;
  margin: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.segment {
  padding: 0 !important;
  background: none !important;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.p-0 {
  padding: 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.m-6 {
  margin: 12rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mx-12 {
  margin: 0 12rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.height-100vh {
  height: 100vh !important;
}

.div-menu.ui.menu {
    background: #556b2f 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 15px #00000029 !important;
    border-bottom: solid 3px #8db050 !important;
    border-radius: 16px;

    > .item {
      color: #222c10 !important;
    }

    margin: 3rem 2.8rem 3rem 3rem !important;
}

.p-button-primary {
  color: #ffffff !important ; 
  background-color: #323e1c !important ;
}

.linhaBox{
  border-bottom: solid 3px #8db050 !important;
}

.segment-loader {
  position: absolute !important;
  z-index: 100000 !important;
  height: 100%;
  width: 100%;
}